@font-face {
  font-family: "iransans";
  src: url(../fonts/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb.eot) format("embedded-opentype"),
    url(../fonts/IRANSansWeb.woff) format("woff"),
    url(../fonts/IRANSansWeb.ttf) format("truetype");
}

* {
  font-family: "iransans" !important;
}

.card-title {
  font-size: 0.85rem;
  font-weight: 600;
}

.h4 {
  font-weight: 500;
}

.page-title {
  font-size: 0.8rem !important;
  font-weight: 600;
}

.form-label {
  font-size: 0.75rem;
  font-weight: 600;
}

.form-check-label{
  font-size: 0.75rem;
}

.h4,
h4 {
  font-size: .8rem;
}

.h3, h3 {
  font-size: 0.9rem;
}

.datepicker-input {
  display: block;
  min-width: calc(1.4285714em + .875rem + 2px);
  width: 100% !important;
  margin: 0;
  padding: .4375rem .75rem;
  font-size: .875rem;
  line-height: 1.4285714;
  color: #656d77;
  background: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid #dadcde;
  border-radius: 3px;
  transition: border-color .3s, background .3s, color .3s;
}

.maxh-250 {
  max-height: 250px;
}

.minh-250 {
  min-height: 250px;
}

.maxh-350 {
  max-height: 350px;
}

.minh-350 {
  min-height: 350px;
}

.crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 50%;
  transform: translateX(-50%);
  height: 80px;
  display: flex;
  align-items: center;
}

.crop-save {
  position: absolute;
  bottom: 0;
  right: 5%;
  transform: translateX(-50%);
  height: 80px;
  display: flex;
  align-items: center;
}

.slider {
  padding: 22px 0px;
}

.upload-btn>input {
  display: none;
}

.img-responsive {
  padding-top: 32%;
}


.bg-dark-lt {
  color: #232e3c!important;
  background:#90a1b5a8!important;
}

.chat-title{
  font-size: .65rem;
  font-weight: 600;
}

.p-tight {
  padding: .4rem .5rem !important;
}
.ql-video {
  width: 100%;
  height: 400px;
}

#editor-two .ql-editor .ql-video{
  width: 100%;
  height: 670px;
}

.role-select {
  width: auto;
  padding: 0px;
  border: white;
  background-image: none;
  font-size: .65rem;
  font-weight: 600;
  color: #858c94;
}



.avatar-mini {
  --tblr-avatar-size: 2.2rem;
}

.m-10p {
  margin: 2px;
}

.hide-element {
  display: none;
}

.show-element {
  display: 'block';
}

.text-dark input[type=text] { 
  color: #232e3c;
}

.ql-container { 
  min-height: 350px;
}

.col-lg-12 {
  flex-grow: 1;
  transition: all 300ms ease;
}

.col-lg-6 {
  flex-shrink: 1;
  transition: all 300ms ease;
}

.theme-dark .form-fieldset, .theme-dark .list-group-item {
  border-color: #dadcde;
  background-color: #484b5f;
  color: #fff;
}
.theme-dark .form-hint {
  color: #fff;
}

.avatar-ctl {
  background-color: #d7d8da;
}

.card-sucess:before {
  border: 1px solid #299b62;
}

.card-danger:before {
  border: 1px solid #d63939;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .card-columns {column-count: 2;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 .card-columns {column-count: 2;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
   .card-columns {column-count: 3;} 
}

.card {
  break-inside: avoid;
}

